a {
  text-decoration: none;
  color: black
}

.App {
  align-content: space-evenly;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: #031639;
  border-color: lightgrey;
  color: #d3d3d3;
  font-style: lightgray;
}

.details {
background-color: aliceblue;
border: 2px solid lightgray;
border-radius: 25px;
padding: 30px;
}


h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.Logs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

main {
  width: 90%;
  margin: auto;
}

.navbar {
  align-items: center;
  background: #031639;
  box-shadow: 2px 2px 4px grey;
  color: lightgray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em;
}

.navbar a {
  text-decoration: none;
  color: lightgray;
}


.new {
  margin: auto;
  width: 95%;
}

.new form {
  margin: auto;
  /* width: 95%; */
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}


table {
  border: 1px solid gray;
  border-radius: 15px;
  width: 50%;
  margin: auto;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

tbody tr:nth-child(odd){
  background: rgb(199, 232, 244);
}

td {
  text-align: center;
}
